# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
alembic.ini

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
/frontend/build/
*.jks
*.keystore
android/key.properties
local.properties

# OS & IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Logs
logs/
*.log
