SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
GEMINI_API_KEY=your-gemini-api-key-here
GEMINI_API_KEY_01=key-1
GEMINI_API_KEY_02=key-2
GEMINI_CHAT_API_KEY=chat-api-key
ELEVENLABS_API_KEY=eleven-labs-api
## u need to add 3 keys and they will rotate 
